# environment
python-dotenv

# Core dependencies
numpy
pandas
scikit-learn
polars[rtcompat]

# Visualization
matplotlib
seaborn
missingno

# Jupyter notebooks
jupyter
notebook

# Parquet IO
pyarrow

# API requests
entsoe-py
requests
